// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  height: 100%;
}

body {
  letter-spacing: .45px;
  min-height: 100%;
  font: menu;
  background: rgba(100, 100, 100, 0.8);
  font-family: sans-serif;
}

.new-session{
  width: 520px;
  margin: auto;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  color: rgb(170, 170, 170);
}

.vertical-center {
  // min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  // min-height: 100vh; /* These two lines are counted as one :-)       */
  //
  // display: flex;
  // align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.form-head{
  background-color: rgb(240, 240, 240);
  padding: 24px 40px;
  font-size: 16px;
  margin: auto;
  font-weight: 700;
  color: rgb(48, 48, 48);
  text-align: center;
  border-radius: 3px 3px 0 0;
}
.form-element{
  margin: auto;
  display: block;
  border: 0;
  border-bottom: 1px solid rgb(217, 217, 217);
  padding-bottom: 7px;
  padding-left: 8px;
  width: 87%;
  background-color: white;
  font-size: 16px;
  font-weight: 100;
  font-family:sans-serif;
}

input, select, textarea {
  color: rgb(120,120,120);
}

.form-element:last-child{
  border-bottom: 0;
  padding-top: 25px;
}

.form-element:focus{
  outline: none;
}
.input-label{
  display: block;
  padding-left: 33px;
  color: rgb(102, 102, 102);
  padding-top: 25px;
  padding-bottom: 23px;
  font-size: 16px;
}
