// Place all the styles related to the api/stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo-container{
  background-color: white;
  max-width: 1000px;
  margin:auto;
}

.logo-container > p {
  float: left;
  background-color: blue;
}

.nav {
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
}

.nav:hover > a{
  color: rgb(101, 186, 149);
}

.nav > a{
  color: rgb(96, 202, 162);
  cursor: pointer;
  text-align: center;
}

.logo{
  height: 30px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.group::after{
  clear: both;
  content: " ";
  display: block;
}

.story-index{
  height: 100%;
  background-color: rgb(250,250,250);
  border-top: 1px solid rgb(240, 240, 240);

}

.original-stories-container{
  max-width: 1000px;
  margin: auto;
  padding-top: 40px;
}

main {

  margin: auto;
}
body{
  background-color: rgb(250,250,250);
}
.what-is-this-class{
  background-color: white;
}

.home-splash{
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  // max-width: 1000px;
  margin: auto;
  display: block;
  margin-top: 40px;
  border-radius: 4px;
}

.individual-story{
  background-color: rgb(255,255,255);
  margin-bottom: 20px;
  max-width: 660px;
  height: auto;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 4px;
}
