// Place all the styles related to the api/stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-container {
  background-color: white;
  max-width: 1000px;
  padding-bottom: 10px;
  margin:auto;
}

.logo-container > p {
  float: left;
  background-color: blue;
}

.logo-container > a {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 56px;
  color: rgb(129, 126, 133);
}

.sidemenu {
  visibility: hidden;
}



.nav {
  float: right;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
}

.nav > a:hover {
  color: rgb(101, 186, 149);
}

.nav > a {
  color: rgb(96, 202, 162);
  cursor: pointer;
  text-align: center;
  margin-top: 4px;
  // border: 5px solid red;
}

.logo {
  height: 30px;
  padding: 5px 10px;
  margin-top: 15px;
  cursor: pointer;
}

.group::after {
  clear: both;
  content: " ";
  display: block;
}

.story-index {
  height: 100%;
  background-color: rgb(250,250,250);
  border-top: 1px solid rgb(240, 240, 240);

}

.original-stories-container {
  max-width: 660px;
  margin-top: 40px;
  padding-left: 0;
  margin: auto;
}

main {
  margin: auto;
}
body {
  background-color: rgb(250,250,250);
}
.what-is-this-class {
  background-color: white;
}

.home-splash {
  background-image: image-url("Medium_image.png");
  border: 1px solid rgb(250,250,250);
  border-radius: 5px;
  max-width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 40px;
}

.home-splash img{
  max-width: 1000px;
  width: auto\9; /* ie8 */
  // max-width: 1000px;
  height: 500px;
  margin: auto;
  display: block;
  margin-top: 40px;
  z-index: 2;
  border-radius: 4px;
}

.first-text {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 570px;
  word-wrap: break-word;
  margin-top: 100px;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.second-text {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 570px;
  word-wrap: break-word;
  margin-top: 24px;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.6px;
  line-height: 1.7;
  font-size: 22px;
}

.third-text {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 570px;
  word-wrap: break-word;
  font-weight: 100;
  margin-top: 15px;
  font-size: 16px;
  color: rgb(120, 122, 149);
  letter-spacing: 1px;
}

.link-to-signup {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 90px;
  word-wrap: break-word;
  text-decoration: none;
  margin-bottom: 240px;
  margin-top: 60px;
  color: white;
  padding: 15px 20px;
  background-color:rgb(227, 104, 214);
  font-size: 14px;
  font-weight: lighter;
  border-radius: 33px;
  // border-bottom-left-radius: 33px;
}

.individual-story {
  margin: auto;
  background-color: rgb(255,255,255);
  padding-bottom: 30px;
  margin-bottom: 20px;
  max-width: 660px;
  height: auto;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 30px;
}

.individual-author {
  color: rgb(96, 202, 162);
  margin-left: 20px;
  max-width: 275px;
  margin-top: 10px;
  font-size: 14px;
  position: relative;
}

.individual-author > img {
  border-radius: 50%;
}

.original-story-index-view {
  margin-top: 10px;
  margin-right: 20px;
  list-style: none;
}

.stories-and-feed {
  max-width: 1000px;
  margin: auto;
}

.original-story-index-view > h1 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 10px;
  // word-wrap: break-word;
  color: rgb(51, 51, 51);
}

.author-info {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 20px;
}

.original-story-index-view > p {
  font-family: serif;
  font-size: 22px;
  font-weight: 0;
  padding-bottom: 10px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: rgb(74, 74, 74);
}

.story-show-container {
  min-height: 100vh;
  padding-top: 20px;
  // padding-top: 40px;
}

.name {
  float: left;
  display: inline;
}

.story-detail {
  margin-top: 50px;
}

.story-detail > div {
  max-width: 700px;
  margin: auto;
}

.story-detail > div:last-child{
  max-width: 100%;
  background-color: rgb(250,250,250);
}

.body {
  font-weight: normal;
  font-size: 20px;
  color: rgb(78, 78, 78);
  font-family: serif;
  display: block;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 10px;
}

.body > * {
  font-family: serif;
  line-height: 2;
}

.new-story-form > input {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-top: 10px;
  word-wrap: break-word;
  display: block;
  text-align: center;
}
.title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-top: 10px;
  word-wrap: break-word;
  display: block;
  text-align: center;
}

.comments {
  max-width: 640px;
  margin:auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comment {
  background-color: white;
  padding-top: 30px;
  border: 1px solid rgb(232, 232, 232);
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.body > * {
  margin-top: 20px;
}

.new-story-form {
  max-width: 700px;
  margin: auto;
  position: relative;
  margin-top: 20px;
}

.submit-button {
  position: absolute;
  top: -30px;
  right: -140px;
}

.submit-button > input {
  border: 0;
  background-color: white;
  color: rgb(96, 202, 162);
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

.submit-button > input:hover {
  color: rgb(101, 186, 149);
}

.nav > a:first-child {
  display:block;
  margin-bottom: 7px;
}

.new-story-container {
  border-top: 1px solid rgb(240, 240, 240);
  min-height: 100vh;
}

.new-story-form > textarea{
  border: none;
  font-family: serif;
  font-size: 24px;
  font-weight: 0;
  font-weight: normal;
  letter-spacing: normal;
  color: rgb(74, 74, 74);
  padding: 2px;
  resize: none;
}

.new-story-form > input[type=text] {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  color: rgb(51, 51, 51);
  border: 0;
}

input:focus, textarea:focus {
    outline: none;
}

.stories-and-feed .submit-button {
  position: absolute;
  top: 0;
  bottom: 25px;
  right: 0;
  left: 40px;
}

.stories-and-feed .new-story-container {
  max-width: 660px;
  min-height: 200px;
  margin: auto;
}

.stories-and-feed .submit-button input {
  position: absolute;
  bottom: 10px;
  padding: 10px 30px;
  border-radius: 20px;
  color: green;
  background-color: white;
  border: 1px solid yellow;
}

.stories-and-feed .new-story-form {
  padding-bottom: 100px;
  border: 1px solid red;
  margin-bottom: 30px;
}

.stories-and-feed .public-DraftStyleDefault-block {
  padding-left: 25px;
  padding-right: 25px;
}

.stories-and-feed .paragraph {
  margin-top: 0;
  border: 1px solid blue;
}

.new-story-form .individual-author {
  padding-bottom: 10px;
}

.individual-story .author-info {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 20px;
}

.logo-container .individual-author {
  padding: 0;
  margin-top: 25px;
}

.write-new-story {
  margin-right: 10px;
}

.logo-container .individual-author .write-new-story {
  display: inline;
}
