// Place all the styles related to the api/stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-container {
  background-color: white;
  max-width: 1000px;
  padding-bottom: 10px;
  margin:auto;
}

.logo-container > p {
  float: left;
  background-color: blue;
}

.logo-container > a {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 56px;
  color: rgb(129, 126, 133);
}

.nav {
  float: right;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
}

.nav > a:hover {
  color: rgb(101, 186, 149);
}

.nav > a {
  color: rgb(96, 202, 162);
  cursor: pointer;
  text-align: center;
  margin-top: 4px;
  // border: 5px solid red;
}

.logo {
  height: 30px;
  padding: 5px 10px;
  margin-top: 15px;
  cursor: pointer;
}

.group::after {
  clear: both;
  content: " ";
  display: block;
}

.story-index {
  height: 100%;
  background-color: rgb(250,250,250);
  border-top: 1px solid rgb(240, 240, 240);

}

.original-stories-container {
  max-width: 660px;
  margin: auto;
  padding-top: 40px;
}

main {
  margin: auto;
}
body {
  background-color: rgb(250,250,250);
}
.what-is-this-class {
  background-color: white;
}

.home-splash {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  // max-width: 1000px;
  margin: auto;
  display: block;
  margin-top: 40px;
  border-radius: 4px;
}

.individual-story {
  margin: auto;
  background-color: rgb(255,255,255);
  padding-bottom: 30px;
  margin-bottom: 20px;
  max-width: 660px;
  height: auto;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 4px;

}

.individual-author {
  color: rgb(96, 202, 162);
  margin-left: 20px;
  max-width: 275px;
  margin-top: 10px;
  font-size: 14px;
  position: relative;
}

.individual-author > img {
  border-radius: 50%;
}

.original-story-index-view {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}

.stories-and-feed {
  max-width: 1000px;
  margin: auto;
}

.original-story-index-view > h1 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 10px;
  color: rgb(51, 51, 51);
}

.author-info {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 20px;
}

.original-story-index-view > p {
  font-family: serif;
  font-size: 22px;
  font-weight: 0;
  padding-bottom: 10px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: rgb(74, 74, 74);
}

.story-show-container {
  min-height: 100vh;
  padding-top: 20px;
  // padding-top: 40px;
}

.name {
  float: left;
  display: inline;
}

.story-detail {
  margin-top: 50px;
}

.story-detail > div {
  max-width: 700px;
  margin: auto;
}

.story-detail > div:last-child{
  max-width: 100%;
  background-color: rgb(250,250,250);
}

.body {
  font-weight: normal;
  font-size: 20px;
  color: rgb(78, 78, 78);
  font-family: serif;
  display: block;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 10px;
}

.body > * {
  font-family: serif;
  line-height: 2;
}

.title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.comments {
  max-width: 640px;
  margin:auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comment {
  background-color: white;
  padding-top: 30px;
  border: 1px solid rgb(232, 232, 232);
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.body > * {
  margin-top: 20px;
}

.new-story-form {
  max-width: 700px;
  margin: auto;
  position: relative;
  padding-top: 20px;
}

.submit-button {
  position: absolute;
  top: -30px;
  right: -140px;
}

.submit-button > input {
  border: 0;
  background-color: white;
  color: rgb(96, 202, 162);
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

.submit-button > input:hover {
  color: rgb(101, 186, 149);
}

.nav > a:first-child {
  display: block;
  margin-bottom: 7px;
}

.new-story-container {
  border-top: 1px solid rgb(240, 240, 240);
  min-height: 100vh;
}

.new-story-form > textarea{
  border: none;
  font-family: serif;
  font-size: 24px;
  font-weight: 0;
  font-weight: normal;
  letter-spacing: normal;
  color: rgb(74, 74, 74);
  padding: 2px;
  resize: none;
}

.new-story-form > input[type=text] {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  color: rgb(51, 51, 51);
  border: 0;
}

input:focus, textarea:focus {
    outline: none;
}
