/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, applet, object, iframe,
 h1, h3, h4, h5, h6, p, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, img, ins, kbd, q, s, samp,
 small, strike, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
   text-decoration: none;
   font-family: sans-serif;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 input, textarea, select, button, a { outline: none; }

 body {
 	line-height: 1;
   background-color: white;
 }

 blockquote, q {
 	quotes: none;
 }
 html {
   height: 100%;
 }
 body {
   min-height: 100%;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 /*
  * Copyright (c) 2016, Globo.com (https://github.com/globocom)
  *
  * License: MIT
  */
 .megadraft-editor {
   position: relative;
   /*
  * Copyright (c) 2016, Globo.com (https://github.com/globocom)
  *
  * License: MIT
  */
   /* Sorry, not using BEM here, we are using drafjs structure */
   /*
  * Copyright (c) 2016, Globo.com (https://github.com/globocom)
  *
  * License: MIT
  */
   /*
  * Copyright (c) 2016, Globo.com (https://github.com/globocom)
  *
  * License: MIT
  */
   /*
  * Copyright (c) 2016, Globo.com (https://github.com/globocom)
  *
  * License: MIT
  */
   /*
  * Copyright (c) 2016, Globo.com (https://github.com/globocom)
  *
  * License: MIT
  */
   /*
  * Copyright (c) 2016, Globo.com (https://github.com/globocom)
  *
  * License: MIT
  */
 }

 .megadraft-editor .DraftEditor-root {
   font-family: Open Sans, sans-serif;
   color: #181818;
   font-size: 1.125rem;
   letter-spacing: -0.037rem;
   line-height: 1.75rem;
   position: relative;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .megadraft-editor .DraftEditor-editorContainer {
   position: relative;
   z-index: 1;
 }

 .megadraft-editor .paragraph + .paragraph {
   margin-top: 20px;
 }

 .megadraft-editor .public-DraftEditor-content figure {
   margin: 40px 0;
 }

 .megadraft-editor .public-DraftStyleDefault-ul {
   list-style-type: disc;
 }

 .megadraft-editor .public-DraftStyleDefault-ol {
   list-style-type: decimal;
 }

 .megadraft-editor .public-DraftStyleDefault-ol,
 .megadraft-editor .public-DraftStyleDefault-ul {
   line-height: 2;
   margin: 24px 0 40px 0;
   padding-left: 40px;
 }

 .megadraft-editor .public-DraftStyleDefault-ol li,
 .megadraft-editor .public-DraftStyleDefault-ul li {
   padding-left: 10px;
 }

 .megadraft-editor .public-DraftEditorPlaceholder-root {
   color: #999;
   position: absolute;
   z-index: 0;
 }

 .megadraft-editor blockquote {
   border-left: 2px solid #ddd;
   color: #999;
   font-style: italic;
   margin: 12px 0 40px 0;
   padding: 6px 0 5px 18px;
 }

 .megadraft-editor .paragraph + blockquote {
   margin-top: 40px;
 }

 .megadraft-editor h2 {
   font-family: Open Sans, Sans-serif;
   font-weight: 700;
   font-size: 1.5rem;
   letter-spacing: -0.056rem;
   line-height: 2rem;
   margin: 64px 0 24px 0;
 }

 .megadraft-editor h2:first-child {
   margin-top: 0;
 }

 .megadraft-editor .editor__link {
   color: #3192e7;
   text-decoration: none;
   cursor: pointer;
 }

 .megadraft-editor .sidebar {
   position: relative;
 }

 .megadraft-editor .sidebar__menu {
   float: left;
   left: -57px;
   position: absolute;
 }

 .megadraft-editor .sidebar__sidemenu-wrapper {
   padding: 0;
   list-style: none;
   margin: 0;
 }

 .megadraft-editor .sidemenu {
   position: relative;
   width: 36px;
   text-align: center;
 }

 .megadraft-editor .sidemenu__button {
   border: 0;
   color: #fff;
   cursor: pointer;
   height: 32px;
   font-size: 0;
   padding: 0;
   width: 32px;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
   position: relative;
   background: none;
 }

 .megadraft-editor .sidemenu__button:before {
   content: "";
   width: 100%;
   height: 100%;
   border-radius: 100%;
   display: inline-block;
   background-color: #181818;
 }

 .megadraft-editor .sidemenu__button:before:hover {
   background-color: #333333;
 }

 .megadraft-editor .sidemenu__button--open {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
 }

 .megadraft-editor .sidemenu__button--open:before {
   background-color: #0669de;
 }

 .megadraft-editor .sidemenu__button__icon {
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -12px 0 0 -12px;
 }

 .megadraft-editor .sidemenu__items {
   list-style: none;
   padding: 0;
   margin-top: 8px;
   padding-top: 2px;
   -webkit-transition: max-height 0.5s ease;
   transition: max-height 0.5s ease;
   overflow: hidden;
   max-height: 0;
   width: 36px;
   text-align: center;
 }

 .megadraft-editor .sidemenu__items--open {
   max-height: 116px;
 }

 .megadraft-editor .sidemenu__items .sidemenu__button {
   background: none;
 }

 .megadraft-editor .sidemenu__items .sidemenu__button:before {
   -webkit-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
   background-color: #181818;
 }

 .megadraft-editor .sidemenu__items .sidemenu__button:hover:before {
   -webkit-transform: scale(1.125);
           transform: scale(1.125);
 }

 .megadraft-editor .sidemenu__item {
   height: 40px;
 }

 .megadraft-editor .toolbar {
   background: yellow;
   height: 0;
   position: absolute;
   display: none;
   z-index: 10;
 }

 .megadraft-editor .toolbar--open {
   display: block;
 }

 .megadraft-editor .toolbar__wrapper {
   background-color: #181818;
   border-radius: 4px;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
   left: -50%;
   position: relative;
 }

 .megadraft-editor .toolbar__list {
   padding: 0 8px;
   margin: 0;
   white-space: nowrap;
 }

 .megadraft-editor .toolbar__arrow {
   display: inline-block;
   top: 100%;
   left: 50%;
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-width: 8px;
   border-style: solid;
   border-color: #181818 transparent transparent;
   margin-left: -8px;
 }

 .megadraft-editor .toolbar--editing-link .toolbar__list {
   display: none;
 }

 .megadraft-editor .toolbar--editing-link .toolbar__input {
   display: block;
 }

 .megadraft-editor .toolbar__item {
   display: inline-block;
   color: #ccc;
 }

 .megadraft-editor .toolbar__item:hover {
   color: #fff;
 }

 .megadraft-editor .toolbar__item--active {
   color: #3192e7;
 }

 .megadraft-editor .toolbar__item--active:hover {
   color: #3192e7;
 }

 .megadraft-editor .toolbar__item--separator {
   border-right: 1px solid #333;
   height: 20px;
   margin: 0 8px;
 }

 .megadraft-editor .toolbar__button {
   padding: 0;
   color: inherit;
   cursor: pointer;
   border: 0;
   height: 56px;
   width: 40px;
   background: transparent;
 }

 .megadraft-editor .toolbar__input {
   background-color: transparent;
   border: none;
   color: #fafafa;
   display: none;
   font-size: 0.875rem;
   height: auto;
   line-height: 0.875rem;
   margin: 0;
   padding: 20px;
   width: 250px;
 }

 .megadraft-editor .toolbar__input:focus {
   outline: none;
 }

 .megadraft-editor .block__hover {
   padding: 8px;
   margin: -8px;
 }

 .megadraft-editor .block__hover:hover {
   background-color: #eee;
   border-radius: 4px;
 }

 .megadraft-editor .block__wrapper {
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
   background-color: #fff;
   border-radius: 3px;
   border: solid 1px #ddd;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
 }

 .megadraft-editor .block__controls {
   overflow: auto;
   padding: 8px;
 }

 .megadraft-editor .block__action-group {
   color: #999;
   float: right;
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .megadraft-editor .block__action {
   display: inline-block;
   padding: 0 8px;
   line-height: 40px;
   cursor: pointer;
   text-align: center;
   font-size: 0;
 }

 .megadraft-editor .block__action:hover {
   color: #000;
 }

 .megadraft-editor .block__action__icon {
   vertical-align: middle;
 }

 .megadraft-editor .block__content {
   background-color: #eee;
   line-height: 100px;
   text-align: center;
   position: relative;
 }

 .megadraft-editor .block__content--with-padding {
   padding: 16px;
 }

 .megadraft-editor .block__content:before, .megadraft-editor .block__content:after {
   position: absolute;
   width: 100%;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   content: "";
   left: 0;
 }

 .megadraft-editor .block__content:before {
   top: 0;
 }

 .megadraft-editor .block__content:after {
   bottom: 0;
 }

 .megadraft-editor .block__data {
   padding: 16px;
   padding-top: 8px;
   background-color: #fff;
 }

 .megadraft-editor .block__input {
   border: 0;
   border-bottom: 1px dashed transparent;
   color: #333;
   display: block;
   padding: 8px 0;
   width: 100%;
   font-size: 0.75rem;
 }

 .megadraft-editor .block__input--small-padding {
   padding: 8px 0 5px 0;
 }

 .megadraft-editor .block__input--big-text {
   font-size: 1rem;
   font-weight: bold;
 }

 .megadraft-editor .block__input__row {
   line-height: 1rem;
 }

 .megadraft-editor .block__input__wrapper {
   position: relative;
 }

 .megadraft-editor .block__input__icon {
   position: absolute;
   top: 50%;
   margin-top: -8px;
   right: 0;
   width: 16px;
   height: 16px;
   display: none;
   pointer-events: none;
 }

 .megadraft-editor .block__input:hover {
   border-color: #999;
 }

 .megadraft-editor .block__input:hover + svg.block__input__icon {
   display: inline-block;
 }

 .megadraft-editor .block__input:focus {
   border-color: #0072de;
   border-style: solid;
 }

 .megadraft-editor .block__input:focus + svg.block__input__icon {
   display: inline-block;
 }

 .megadraft-editor .block__input:placeholder {
   color: #999;
 }

 .megadraft-editor .block__input--empty {
   border-color: #ccc;
 }

 .megadraft-editor .block__input--empty :hover {
   border-color: #999;
 }

 .megadraft-editor .block__input--empty + svg.block__input__icon {
   color: #999;
   display: inline-block;
 }

 .megadraft-editor .block__input--error, .megadraft-editor .block__input--error.block__input--empty, .megadraft-editor .block__input--error:hover {
   border-color: #ff351e;
   border-style: solid;
 }

 .megadraft-editor .block__input--error + svg.block__input__icon {
   color: #ff351e;
   display: inline-block;
 }

 .megadraft-editor .block__input__error-text {
   color: #ff351e;
   margin-top: 6px;
   font-size: 0.75rem;
 }

 .megadraft-editor .dropdown__wrapper {
   border-radius: 2px;
   position: absolute;
   background: #fff;
   color: #999;
   cursor: pointer;
   font-weight: bold;
   z-index: 10;
 }

 .megadraft-editor .dropdown__wrapper--open {
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
   color: #333;
 }

 .megadraft-editor .dropdown {
   display: none;
   list-style: none;
   margin: 0;
   border-top: 1px solid #ddd;
   padding: 8px 0;
 }

 .megadraft-editor .dropdown--open {
   display: block;
 }

 .megadraft-editor .dropdown__arrow {
   margin-left: 5px;
   vertical-align: middle;
 }

 .megadraft-editor .dropdown__arrow--open {
   -webkit-transform: rotate(180deg);
           transform: rotate(180deg);
 }

 .megadraft-editor .dropdown__option {
   color: #999;
 }

 .megadraft-editor .dropdown__option:hover {
   background-color: #0669de;
   color: #fff;
 }

 .megadraft-editor .dropdown__item {
   padding: 0 8px;
   line-height: 40px;
   font-size: 0;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
 }

 .megadraft-editor .dropdown__item--selected:hover {
   color: #333;
 }

 .megadraft-editor .dropdown__item__text {
   vertical-align: middle;
   margin-left: 8px;
   font-size: 0.75rem;
 }

 .megadraft-editor .dropdown__item__icon {
   vertical-align: middle;
 }

 .megadraft-editor .media__message--error {
   background-color: #e83f26;
   color: #fff;
 }

 .megadraft-editor .media__message--warning {
   background-color: #fff7d8;
   color: #b59223;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 }

 .megadraft-editor .media__message-text {
   text-align: left;
   padding: 8px;
   font-size: 12px;
   line-height: 16px;
   font-weight: bold;
 }

.megadraft-editor {
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: white;
    padding: 1px;
    border-radius: 50%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    height: 0;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
